.container {
  display: flex;
  position: relative;
  width: 400px;
  height: 823px;
  margin:auto;
}
.n1{
  position: absolute;
  z-index: 2;
}
.n2 {
  position: absolute;
  z-index: 1;
}
#sign-up {
  font-family: SF Pro Display, sans-serif;
  color: #FFFFFF;
  padding: 15px 130px 14px 134px;
  font-size: 15px; 
  margin: 0 48px 0 48px;
  background: linear-gradient(90deg, #59A1FF 19.89%, #3D67F2 100%);
  border-radius: 3px;
  border-width: 0;
}
#log-in {
  font-family: SF Pro Display, sans-serif;
  color: #3D67F2;
  padding: 15px 136px 14px 136px;
  margin: 16px 48px 48px 48px;
  font-size: 15px;
  border: 1.5px solid #59A1FF;
  border-radius: 3px;
  background-color: white;
}
#ellipse {
  margin: 110px 165px 15px 166px;
}
#vector {
  margin: 132px 179.6px 0 181px;
}
h2{
  position: absolute;
  width: 105px;
  height: 27px;
  left: 153px;
  top: 205px;
  font-family: Comfortaa, monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 27px;
  text-align: center;
 letter-spacing: 0.03em;
 color: #3E476A;
}
h3 {
  margin: 62px 69px 140px 69px;
  width: 274px;
  height: 54px;
  font-family: SF Pro Display, monospace;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #878FAD;
}
#link {
  position: relative;
  width: 85px;
  height: 15px;
  left: 163px;
  top: 772px;
  font-family: 'SF Pro Display';
  font-size: 16px;
  line-height: 14px;
  color: #3D8BF2;
}
