.container {
  display: flex;
  position: relative;
  width: 400px;
  height: 823px;
  margin:auto;
}
.n1{
  position: absolute;
  z-index: 2;
}
.n2 {
  position: absolute;
  z-index: 1;
}
#sign-up {
  position: absolute;
  width: 315px;
  height: 48px;
  left: 48px;
  top: 612px;
  background: linear-gradient(90deg, #59A1FF 19.89%, #3D67F2 100%);
  border-radius: 3px;
  font-family: SF Pro Display, san-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  border-width: 0px;
  }
#log-in {
  position: absolute;
  width: 315px;
  height: 48px;
  left: 48px;
  top: 676px;
  font-family: SF Pro Display, sans-serif;
  color: #3D67F2;
  font-size: 15px;
  border: 1.5px solid #59A1FF;
  border-radius: 3px;
  background-color: white;
}
#ellipse {
  top: 110px;
  right: 165px;
  bottom: 633px;
  left: 166px;
}
#vector {
  top: 132px;
  right: 179.6px;
  bottom: 655px;
  left: 181px;
}
h2{
  position: absolute;
  width: 105px;
  height: 27px;
  left: 153px;
  top: 205px;
  font-family: Comfortaa, monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 27px;
  text-align: center;
 letter-spacing: 0.03em;
 color: #3E476A;
}
h3 {
  position: absolute;
  width: 274px;
  height: 54px;
  left: 69px;
  top: 294px;
  font-family: 'SF Pro Display';
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #878FAD;
}
#link {
  position: absolute;
  width: 85px;
  height: 15px;
  left: 163px;
  top: 772px;
  font-family: 'SF Pro Display';
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: #3D8BF2;
}
