.container {
  display: flex;
  position: relative;
  width: 400px;
  height: 823px;
  margin: auto;
}
.n1 {
  position: absolute;
  z-index: 2;
}
.n2 {
  position: absolute;
  z-index: 1;
}
#ellipse {
  margin: 90px 159.5px 0px 160.5px;
}
#vector {
  margin: 112px 174.1px 0px 175.5px;
}
#full-name {
  position: absolute;
  width: 315px;
  height: 48px;
  left: 48px;
  top: 220px;
  background: #f2f5fa;
  border-radius: 3px;
  font-size: 16px;
  color: #a6acc3;
  border-width: 0;
}
#email {
  position: absolute;
  width: 315px;
  height: 48px;
  left: 48px;
  top: 284px;
  background: #f2f5fa;
  border-radius: 3px;
  font-size: 16px;
  color: #a6acc3;
  border-width: 0;
}
#password {
  position: absolute;
  margin-top: 64px;
  width: 315px;
  height: 48px;
  left: 48px;
  top: 284px;
  background: #f2f5fa;
  border-radius: 3px;
  font-size: 16px;
  color: #a6acc3;
  border-width: 0;
}
#sign-up {
  position: absolute;
  width: 315px;
  height: 48px;
  left: 48px;
  top: 412px;
  background: linear-gradient(90deg, #59a1ff 19.89%, #3d67f2 100%);
  border-radius: 3px;
  color: #ffffff;
  border-width: 0;
}
#horizontal-1 {
  position: absolute;
  width: 134px;
  height: 0px;
  left: 48px;
  top: 506px;
  border: 1px solid #e4e6eb;
}
#horizontal-2 {
  position: absolute;
  width: 134px;
  height: 0px;
  left: 229px;
  top: 506px;
  border: 1px solid #e4e6eb;
}
#or {
  position: absolute;
  width: 14px;
  height: 19px;
  left: 198px;
  top: 496px;
  font-family: SF Pro Display;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #878fad;
}
#terms {
  position: absolute;
  width: 296px;
  height: 34px;
  left: 57px;
  top: 671px;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #878fad;
}
#log-in {
  position: absolute;
  width: 214px;
  height: 15px;
  left: 98px;
  top: 772px;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: #878fad;
}
#bluebox {
  position: absolute;
  z-index: 2;
  width: 44px;
  height: 44px;
  left: 48px;
  top: 531px;
  background: #395185;
  border-radius: 3px 0px 0px 3px;
}
#fb {
  margin: 12px 16.56px 12px 17px;
}
#facebook-sign-up {
  position: absolute;
  width: 315px;
  height: 44px;
  left: 48px;
  top: 531px;
  background: #4a6ea8;
  border-radius: 3px;
  color: white;
  border-width: 0;
}
#google-sign-up {
  position: absolute;
  width: 315px;
  height: 44px;
  left: 48px;
  top: 591px;
  background: #ffffff;
  border: 1px solid #e4e6eb;
  border-radius: 3px;
  line-height: 18px;
  text-align: center;
  color: #878fad;
}
#google-line {
  position: absolute;
  width: 42.01px;
  height: 0px;
  left: 68px;
  top: 604px;
  border: 1px solid #e4e6eb;
  transform: matrix(-0.02, 1, -1, 0, 0, 0);
}
#googlebox {
  z-index: 2;
  position: absolute;
  width: 43px;
  height: 42px;
  top: 591px;
  left: 48px;
  background: white;
  border: 1px solid #e4e6eb;
  border-radius: 3px;
}
#google-red {
  position: absolute;
  left: 13.96px;
  top: 13px;
}
#google-yellow {
  position: absolute;
  left: 14px;
  top: 17px;
}
#google-green {
  position: absolute;
  left: 13.98px;
  top: 23px;
}
#google-blue {
  position: absolute;
  left: 22px;
  top: 20px;
}
